<%= javascript_pack_tag 'banner_nav' %>

<div class="sticky-banner">
  <div class="main-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path "superheros.jpg"%>')">
    <h1>Power Renterprise</h1>
    <h3>- Become the Hero You Were Always Meant to Be<h3>
    <div class="power-search">
      <div id="form-field">
        <%= form_tag powers_path, id: "my-form", method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            id: "form-field",
            placeholder: "Search for your power!", class: "search-form-input"
          %>
          <%= submit_tag "Search", class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
</div>
</div>
<div class="container">

  <div class="cards-container">
      <% @powers.each do |power| %>
        <%= link_to power_path(power), class: "card-link" do %>
        <div class="card-product" >
            <%= cl_image_tag power.photo.key, width: 700, crop: :fill %>
            <div class="card-product-infos">
              <h2><%= power.name %></h2>
              <p><%= power.description %></p>
              <p ><%= power.location%></p>
              <p>Listed by - <%= power.user.first_name  %> <%= power.user.last_name  %> </p>
              <% if power.user.photo.attached? %>
               <%= cl_image_tag power.user.photo.key, width: 100, crop: :fill %>
               <% end %>
              <p class='m-3'><strong>Price: £<%= power.price %>/day</strong></p>
            </div>
          </div>
        <% end %>
      <% end %>

  </div>
</div>
