<div class="main-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path "superheros.jpeg"%>')">
  <h1>Superpower Rental</h1>
  <h3>- Become the Hero You Were Always Meant to Be<h3>
  <div class="power-search">
  <%= simple_form_for :search do |f| %>
    <%= f.submit "Search", class: "btn btn-danger" %>
    <%=f.input_field :query, placeholder: 'Search for your power!', class: "search-form-input" %>
  <% end %>
  </div>
</div>


  <div class="cards-container">
      <% @powers.each do |power| %>
        <%= link_to power_path(power), class: "card-link" do %>
        <div class="card-product" >
            <img src="https://static.wikia.nocookie.net/marveldatabase/images/8/88/Fantastic_Four_Vol_6_1_Human_Torch_Variant_Textless.jpg" />
            <div class="card-product-infos">
              <h2><%= power.name %></h2>
              <p><%= power.description %></p>
              <p ><%= power.location%></p>
              <p class='m-3'><strong>- <%= power.price %></strong></p>
            </div>
          </div>
        <% end %>
      <% end %>

  </div>
