

<div class="container d-flex justify-content-between">


  <div class="power-info">
  <h1><%= @power.name %></h1>
    <%= cl_image_tag @power.photo.key, height: 300, width: 400, crop: :fill %>
    <p><%= @power.description %></p>
    <p><%= @power.power_type %></p>
    <p><%= @power.element %></p>
    <p><%= @power.location %></p>
    <p><%= @power.price %></p>
    <p><%= @power.example_hero %></p>
  </div>

<% if current_user != @power.user && user_signed_in?%>

  <div class="book-form">
  <br /><h3 class="text-center">Book this power!</h3><br />
    <%= simple_form_for [@power, @booking] do |f| %>
      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true %>
      <div class="d-flex justify-content-center">
        <%= f.submit "Request Booking", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>



</div>
