

<div class="container">

<h1><%= @power.name %></h1>
  <%= @power.description %>
  <%= @power.power_type %>
  <%= @power.element %>
  <%= @power.location %>
  <%= @power.price %>
  <%= @power.example_hero %>


</div>
