
<div class="container h-100">

  <h2 class="py-2">My Bookings:</h2>

  <div class="bookings-title d-flex justify-content-center bookings">
    <% if @bookings.empty? %>
      <h2 class="align-self-center">You have no bookings!<h2>
    <% end %>
      <% @bookings.each do |booking| %>
        <div class="card-product">
          <% power = booking.power %>
          <img src="<%=power.image_url%>" />
            <div class="card-product-info">
            <h2 class="ml-4">Status: <%= booking.status %></h2>
            <p class="m-4 p-2"><%= power.name %></p>
            <p class="m-4 p-2">Start Date: <%= booking.start_date %></p>
            <p class="m-4 p-2">End Date: <%= booking.end_date %></p>
          <p class='m-3'><strong>Price: £<%= power.price %>/day</strong></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
