
<div class="container">

    <h1 class="py-2">My Bookings:</h1>

  <div class="bookings-title d-flex-inline bookings">
      <% @bookings.each do |booking| %>
        <div class="card-product">
          <% power = booking.power %>
          <img src="<%=power.image_url%>" />
            <div class="card-product-info">
            <h2 class="ml-4">Status: <%= booking.status %></h2>
            <p class="m-4 p-2"><%= power.name %></p>
            <p class="m-4 p-2">Start Date: <%= booking.start_date %></p>
            <p class="m-4 p-2">End Date: <%= booking.end_date %></p>
          <p class='m-3'><strong>Price: £<%= power.price %>/day</strong></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
