
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 mt-5">
      <h4 class="mt-5">Log in</h4><br />
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-inputs">
        <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions d-flex justify-content-center">
        <%= f.button :submit, "Log in", class: 'btn btn-outline-dark btn-sm' %>
      </div>
      <% end %>

      <div class="d-flex justify-content-center links">
      <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>
